<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>K-Link</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="mobile-nav">
        <div class="mobile-nav-header">
            <li class= "fa fa-bars"></li>
            <div class ="mobile-nav-logo">
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="translator.html">Language Translator</a></li>
                <li><a href="file_convertor.html">File Converter</a></li>
                <li><a href="about.html">About Us</a></li>
            </div>
        </div>
    </div>
    <div class="Header">
            <h1>K-Link</h1>
            <p1>
                "Beyond Words: Smart Translation & Universal File Conversion." Translate any Language and
                convert any file format with AI-powered precision.
            </p1>
            <div class="header-image">
                <img src="C:/Users/User/Downloads/K-Link/static/Image.png" style="max-width: 50%; height: auto;">
            </div>
    </div>
    <div class="body">
        <div class="body-content">
            <h2>Keep Your Simple Tasks Simple</h2>
            <p>
                K-Link is the first and only PDF software you'll love.We have all the tools
                you'll need to start, manage, and finish your work with digital documents
            </p>
        </div>
    </div>
    <div class="footer">
        <p>© 2026 K-Link. All rights reserved.</p>
        <li><a href="privacy_notice.html">Privacy Notice</a></li>
        <li><a href="terms_conditionsp.html">Terms & Conditions</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </div>
</body>
</html>